.currentWeather{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 50%));
  align-items: center;

}
.currentWeather__details{
  justify-self: end;
}
.currentWeather__details > h2{
  font-size: 8rem;
  font-weight: 500;
}
.currentWeather__details > h3{
  font-size: 3rem;
  font-weight: 600;
}
.currentWeather__details > h2 > span{
  font-size: 4rem;
  font-weight: 500;
  vertical-align: super;
}
.currentWeather__more{
  justify-self: start;
  font-size: 1.6rem;
  margin-left: 80px;
}

.currentWeater__stats{
  list-style: none;
  margin: 20px;
}
.currentWeater__stats > li{
  font-size: 2rem;
}
.currentWeater__stats > li > span{
  padding-right: 5px;
}
.currentWeather__actual{
  text-transform: capitalize;
}
