.currentweather{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 50%));
  align-items: center;
  justify-content: center;

}
.currentweather__details{
  justify-self: center;
}
.currentweather__details > h2{
  font-size: 8rem;
  font-weight: 500;
}
.currentweather__details > h3{
  font-size: 3rem;
  font-weight: 600;
}
.currentweather__details > h4{
  font-size: 2rem;
  font-weight: 400;
}
.currentweather__details > h2 > span{
  font-size: 4rem;
  font-weight: 500;
  vertical-align: super;
}
.currentweather__more{
  justify-self: start;
  font-size: 1.6rem;
  margin-left: 80px;
}

.currentweater__stats{
  list-style: none;
  margin: 20px 0;
}
.currentweater__stats > li{
  font-size: 1.8rem;
}
.currentweater__stats > li > span{
  padding-right: 5px;
}
.currentweather__actual{
  text-transform: capitalize;
}

.stats__wind{
  color: rgb(127, 178, 255);
}

.stats__humidity{
  color: rgba(12, 67, 184, 0.795);
}

.stats__sunrise{
  color: rgb(214, 154, 25);
}
.stats__sunset{
  color: rgb(73, 60, 30);

}